.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column !important;
}
.gap-40px{
    gap: 40px;
}